.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 631px;
	background-image: none;
	border-style: none;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	margin-left: auto;
	margin-right: auto;
}

#menuu123
{
	z-index: 2;
	width: 127px;
	margin-right: -10000px;
	margin-top: 115px;
	left: 78px;
}

#u124
{
	width: 127px;
}

#u125
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 52px;
	margin-right: -10000px;
}

#u125:hover
{
	margin: 0px -10000px 0px 0px;
}

#u125:active
{
	margin: 0px -10000px 0px 0px;
}

#u166
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 52px;
	margin-right: -10000px;
}

#u125.MuseMenuActive,#u166:hover
{
	margin: 0px -10000px 0px 0px;
}

#u166:active
{
	margin: 0px -10000px 0px 0px;
}

#u175
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u166.MuseMenuActive,#u175:hover
{
	margin: 0px -10000px 0px 0px;
}

#u175:active
{
	margin: 0px -10000px 0px 0px;
}

#u180
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u175.MuseMenuActive,#u180:hover
{
	margin: 0px -10000px 0px 0px;
}

#u180:active
{
	margin: 0px -10000px 0px 0px;
}

#u132
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u180.MuseMenuActive,#u132:hover
{
	margin: 0px -10000px 0px 0px;
}

#u132:active
{
	margin: 0px -10000px 0px 0px;
}

#u165,#u172,#u179,#u131,#u200
{
	width: 127px;
	margin-top: 2px;
}

#u203
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u132.MuseMenuActive,#u203:hover
{
	margin: 0px -10000px 0px 0px;
}

#u203:active
{
	margin: 0px -10000px 0px 0px;
}

#u203.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u128-4,#u168-4,#u176-4,#u181-4,#u134-4,#u204-4
{
	width: 127px;
	min-height: 22px;
	margin-right: -10000px;
	top: 26px;
}

#pu6489-150
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 112px;
	left: 342px;
}

#u6489-150
{
	z-index: 39;
	width: 367px;
	min-height: 145px;
	text-align: center;
	color: #464646;
	position: relative;
	margin-right: -10000px;
}

#u6489
{
	font-size: 25px;
	color: #51837F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 30px;
}

#u6489-2,#u6489-79
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6489-5,#u6489-7,#u6489-9,#u6489-11,#u6489-13,#u6489-14,#u6489-15,#u6489-16,#u6489-17,#u6489-18,#u6489-19,#u6489-20,#u6489-21,#u6489-22,#u6489-23,#u6489-24,#u6489-25,#u6489-26,#u6489-27,#u6489-28,#u6489-29,#u6489-30,#u6489-32,#u6489-34,#u6489-36,#u6489-38,#u6489-39,#u6489-41,#u6489-43,#u6489-45,#u6489-47,#u6489-49,#u6489-52,#u6489-54,#u6489-55,#u6489-57,#u6489-59,#u6489-63,#u6489-65,#u6489-68,#u6489-70,#u6489-72,#u6489-74,#u6489-76,#u6489-77,#u6489-81,#u6489-84,#u6489-86,#u6489-88,#u6489-90,#u6489-92,#u6489-93,#u6489-95,#u6489-97,#u6489-99,#u6489-101,#u6489-103,#u6489-104,#u6489-106,#u6489-108,#u6489-110,#u6489-111,#u6489-113
{
	font-size: 12px;
	line-height: 14px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
}

#u6489-118,#u6489-126,#u6489-141
{
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
}

#u6489-115,#u6489-117,#u6489-121,#u6489-123,#u6489-125,#u6489-128,#u6489-130,#u6489-132,#u6489-134,#u6489-136,#u6489-138,#u6489-140,#u6489-146
{
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6489-114,#u6489-116,#u6489-120,#u6489-122,#u6489-124,#u6489-127,#u6489-129,#u6489-131,#u6489-133,#u6489-135,#u6489-137,#u6489-139,#u6489-142,#u6489-143,#u6489-145
{
	font-size: 12px;
	line-height: 14px;
}

#u6490
{
	z-index: 189;
	width: 215px;
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
	left: 82px;
}

body
{
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

