.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 579px;
	background-image: none;
	border-style: none;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 70px;
	margin-left: auto;
	margin-right: auto;
}

#menuu123
{
	z-index: 2;
	width: 127px;
	margin-right: -10000px;
	margin-top: 115px;
	left: 78px;
}

#u124
{
	width: 127px;
}

#u125
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 52px;
	margin-right: -10000px;
}

#u125:hover
{
	margin: 0px -10000px 0px 0px;
}

#u125:active
{
	margin: 0px -10000px 0px 0px;
}

#u166
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 52px;
	margin-right: -10000px;
}

#u125.MuseMenuActive,#u166:hover
{
	margin: 0px -10000px 0px 0px;
}

#u166:active
{
	margin: 0px -10000px 0px 0px;
}

#u175
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u166.MuseMenuActive,#u175:hover
{
	margin: 0px -10000px 0px 0px;
}

#u175:active
{
	margin: 0px -10000px 0px 0px;
}

#u180
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u175.MuseMenuActive,#u180:hover
{
	margin: 0px -10000px 0px 0px;
}

#u180:active
{
	margin: 0px -10000px 0px 0px;
}

#u132
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u180.MuseMenuActive,#u132:hover
{
	margin: 0px -10000px 0px 0px;
}

#u132:active
{
	margin: 0px -10000px 0px 0px;
}

#u165,#u172,#u179,#u131,#u200
{
	width: 127px;
	margin-top: 2px;
}

#u203
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u132.MuseMenuActive,#u203:hover
{
	margin: 0px -10000px 0px 0px;
}

#u203:active
{
	margin: 0px -10000px 0px 0px;
}

#u203.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u128-4,#u168-4,#u176-4,#u181-4,#u134-4,#u204-4
{
	width: 127px;
	min-height: 22px;
	margin-right: -10000px;
	top: 26px;
}

#pu1886-3
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 307px;
}

#u1886-3
{
	z-index: 39;
	width: 31px;
	min-height: 51px;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 4px;
}

#u1887-3
{
	z-index: 42;
	width: 15px;
	min-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 27px;
}

#u1888-3
{
	z-index: 45;
	width: 397px;
	min-height: 305px;
	position: relative;
	margin-right: -10000px;
	margin-top: 107px;
	left: 42px;
}

#u1889-15
{
	z-index: 48;
	width: 495px;
	min-height: 451px;
	position: relative;
	margin-right: -10000px;
}

#u1889
{
	font-size: 25px;
	line-height: 30px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1889-3
{
	font-size: 25px;
	text-align: center;
	line-height: 30px;
	color: #51837F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1889-4
{
	font-size: 25px;
	text-align: center;
	line-height: 30px;
	color: #464646;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u1889-5,#u1889-7,#u1889-8,#u1889-10
{
	text-align: center;
	color: #464646;
}

#u4731
{
	z-index: 63;
	width: 172px;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 167px;
}

#u4821
{
	z-index: 65;
	width: 306px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 391px;
	left: 117px;
}

body
{
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

