.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 573px;
	background-image: none;
	border-style: none;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 76px;
	margin-left: auto;
	margin-right: auto;
}

#menuu123
{
	z-index: 2;
	width: 127px;
	margin-right: -10000px;
	margin-top: 115px;
	left: 78px;
}

#u124
{
	width: 127px;
}

#u125
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 52px;
	margin-right: -10000px;
}

#u125:hover
{
	margin: 0px -10000px 0px 0px;
}

#u125:active
{
	margin: 0px -10000px 0px 0px;
}

#u166
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 52px;
	margin-right: -10000px;
}

#u125.MuseMenuActive,#u166:hover
{
	margin: 0px -10000px 0px 0px;
}

#u166:active
{
	margin: 0px -10000px 0px 0px;
}

#u175
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u166.MuseMenuActive,#u175:hover
{
	margin: 0px -10000px 0px 0px;
}

#u175:active
{
	margin: 0px -10000px 0px 0px;
}

#u180
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u175.MuseMenuActive,#u180:hover
{
	margin: 0px -10000px 0px 0px;
}

#u180:active
{
	margin: 0px -10000px 0px 0px;
}

#u132
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u180.MuseMenuActive,#u132:hover
{
	margin: 0px -10000px 0px 0px;
}

#u132:active
{
	margin: 0px -10000px 0px 0px;
}

#u165,#u172,#u179,#u131,#u200
{
	width: 127px;
	margin-top: 2px;
}

#u203
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u132.MuseMenuActive,#u203:hover
{
	margin: 0px -10000px 0px 0px;
}

#u203:active
{
	margin: 0px -10000px 0px 0px;
}

#u203.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u128-4,#u168-4,#u176-4,#u181-4,#u134-4,#u204-4
{
	width: 127px;
	min-height: 22px;
	margin-right: -10000px;
	top: 26px;
}

#pu2002-6
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	left: 398px;
}

#u2002-6
{
	z-index: 39;
	width: 226px;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 4px;
}

#u2002-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2002
{
	font-size: 15px;
	color: #464646;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	line-height: 18px;
}

#u2002-2
{
	color: #464646;
	line-height: 17px;
}

#u2002-3
{
	line-height: 17px;
}

#u2090-4
{
	z-index: 45;
	width: 174px;
	min-height: 13px;
	color: #464646;
	line-height: 18px;
	font-size: 15px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	left: 6px;
}

#u2091-4
{
	z-index: 49;
	width: 169px;
	min-height: 20px;
	color: #464646;
	line-height: 18px;
	font-size: 15px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 221px;
	left: 8px;
}

#u2092-4
{
	z-index: 53;
	width: 177px;
	min-height: 20px;
	color: #464646;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 285px;
	left: 4px;
}

#u2093-3
{
	z-index: 57;
	width: 172px;
	color: #464646;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 295px;
	left: 8px;
}

#u3177-3
{
	z-index: 60;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 5px;
}

#u3178-3
{
	z-index: 63;
	width: 45px;
	min-height: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 306px;
	left: 8px;
}

#u4360-4
{
	z-index: 66;
	width: 185px;
	color: #51837F;
	line-height: 30px;
	font-size: 25px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u4718
{
	z-index: 70;
	width: 265px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 181px;
}

body
{
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

