.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 631px;
	background-image: none;
	border-style: none;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	margin-left: auto;
	margin-right: auto;
}

#pppu224-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 78px;
}

#ppu224-4
{
	width: 0.01px;
	position: relative;
}

#pu224-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 134px;
}

#u224-4
{
	z-index: 39;
	width: 32px;
	min-height: 23px;
	font-size: 32px;
	color: #000000;
	line-height: 38px;
	font-style: normal;
	margin-left: 21px;
	position: relative;
}

#u224
{
	font-family: ヒラギノ明朝 Pro W3, Hiragino Mincho Pro, ＭＳ Ｐ明朝, MS PMincho, serif;
	font-weight: bold;
}

#u224-2
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
}

#u4941-3
{
	z-index: 68;
	width: 29px;
	min-height: 27px;
	margin-top: 116px;
	position: relative;
}

#menuu123
{
	z-index: 2;
	width: 127px;
	margin-right: -10000px;
}

#u124
{
	width: 127px;
}

#u125
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 52px;
	margin-right: -10000px;
}

#u125:hover
{
	margin: 0px -10000px 0px 0px;
}

#u125:active
{
	margin: 0px -10000px 0px 0px;
}

#u166
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 52px;
	margin-right: -10000px;
}

#u125.MuseMenuActive,#u166:hover
{
	margin: 0px -10000px 0px 0px;
}

#u166:active
{
	margin: 0px -10000px 0px 0px;
}

#u175
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u166.MuseMenuActive,#u175:hover
{
	margin: 0px -10000px 0px 0px;
}

#u175:active
{
	margin: 0px -10000px 0px 0px;
}

#u180
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u175.MuseMenuActive,#u180:hover
{
	margin: 0px -10000px 0px 0px;
}

#u180:active
{
	margin: 0px -10000px 0px 0px;
}

#u132
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u180.MuseMenuActive,#u132:hover
{
	margin: 0px -10000px 0px 0px;
}

#u132:active
{
	margin: 0px -10000px 0px 0px;
}

#u165,#u172,#u179,#u131,#u200
{
	width: 127px;
	margin-top: 2px;
}

#u203
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u132.MuseMenuActive,#u203:hover
{
	margin: 0px -10000px 0px 0px;
}

#u203:active
{
	margin: 0px -10000px 0px 0px;
}

#u203.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u128-4,#u168-4,#u176-4,#u181-4,#u134-4,#u204-4
{
	width: 127px;
	min-height: 22px;
	margin-right: -10000px;
	top: 26px;
}

#u1810-3
{
	z-index: 43;
	width: 4px;
	min-height: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 408px;
}

#u4687-3
{
	z-index: 50;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 326px;
}

#u4756
{
	z-index: 53;
	width: 250px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 201px;
}

#u4891-5
{
	z-index: 63;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 199px;
	left: 32px;
}

#u5366-4
{
	z-index: 71;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 37px;
}

#pu4788-3
{
	width: 0.01px;
	margin-left: 32px;
	margin-top: 44px;
	position: relative;
}

#u4788-3
{
	z-index: 59;
	width: 69px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
}

#u4823
{
	z-index: 62;
	width: 290px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 7px;
}

#pu4783
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 356px;
	left: 529px;
}

#u4783
{
	z-index: 57;
	width: 186px;
	position: relative;
}

#pu4493-4
{
	width: 0.01px;
	margin-left: 29px;
	position: relative;
}

#u4493-4
{
	z-index: 46;
	width: 148px;
	min-height: 19px;
	font-size: 11px;
	color: #7F7F7F;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: 86px;
}

#u4778
{
	z-index: 55;
	width: 250px;
	position: relative;
	margin-right: -10000px;
}

body
{
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

