.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 573px;
	background-image: none;
	border-style: none;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 76px;
	margin-left: auto;
	margin-right: auto;
}

#menuu123
{
	z-index: 2;
	width: 127px;
	margin-right: -10000px;
	margin-top: 115px;
	left: 78px;
}

#u124
{
	width: 127px;
}

#u125
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 52px;
	margin-right: -10000px;
}

#u125:hover
{
	margin: 0px -10000px 0px 0px;
}

#u125:active
{
	margin: 0px -10000px 0px 0px;
}

#u166
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 52px;
	margin-right: -10000px;
}

#u125.MuseMenuActive,#u166:hover
{
	margin: 0px -10000px 0px 0px;
}

#u166:active
{
	margin: 0px -10000px 0px 0px;
}

#u175
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u166.MuseMenuActive,#u175:hover
{
	margin: 0px -10000px 0px 0px;
}

#u175:active
{
	margin: 0px -10000px 0px 0px;
}

#u180
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u175.MuseMenuActive,#u180:hover
{
	margin: 0px -10000px 0px 0px;
}

#u180:active
{
	margin: 0px -10000px 0px 0px;
}

#u132
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u180.MuseMenuActive,#u132:hover
{
	margin: 0px -10000px 0px 0px;
}

#u132:active
{
	margin: 0px -10000px 0px 0px;
}

#u165,#u172,#u179,#u131,#u200
{
	width: 127px;
	margin-top: 2px;
}

#u203
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u132.MuseMenuActive,#u203:hover
{
	margin: 0px -10000px 0px 0px;
}

#u203:active
{
	margin: 0px -10000px 0px 0px;
}

#u128-4,#u168-4,#u176-4,#u181-4,#u134-4,#u204-4
{
	width: 127px;
	min-height: 22px;
	margin-right: -10000px;
	top: 26px;
}

#slideshowu3890
{
	z-index: 39;
	width: 0.01px;
	height: 210px;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 319px;
}

#u3894
{
	position: absolute;
	width: 524px;
	height: 422px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: -24px;
	left: -22px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u3894popup
{
	z-index: 40;
}

#u3899
{
	z-index: 41;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3899_img
{
	padding-left: 74px;
	padding-right: 73px;
}

#u3981
{
	z-index: 43;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3981_img
{
	padding: 1px 57px;
}

#u3997
{
	z-index: 45;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4012
{
	z-index: 47;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4057
{
	z-index: 49;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4012_img,#u4057_img
{
	padding-left: 105px;
	padding-right: 105px;
}

#u4236
{
	z-index: 51;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3997_img,#u4236_img
{
	padding-left: 126px;
	padding-right: 126px;
}

#u4041
{
	z-index: 53;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4041_img
{
	padding-left: 62px;
	padding-right: 62px;
}

#u4408
{
	z-index: 55;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4408_img
{
	padding-top: 25px;
	padding-bottom: 25px;
}

#u4417
{
	z-index: 57;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4417_img
{
	padding-left: 116px;
	padding-right: 116px;
}

#u4520
{
	z-index: 59;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4520_img
{
	padding-left: 119px;
	padding-right: 119px;
}

#u4529
{
	z-index: 61;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4529_img
{
	padding-left: 127px;
	padding-right: 127px;
}

#u4623
{
	z-index: 63;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4846
{
	z-index: 65;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4846_img
{
	padding-left: 112px;
	padding-right: 111px;
}

#u4931
{
	z-index: 67;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4931_img
{
	padding-left: 75px;
	padding-right: 75px;
}

#u5179
{
	z-index: 69;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u4623_img,#u5179_img
{
	padding-left: 123px;
	padding-right: 123px;
}

#u5194
{
	z-index: 71;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5194_img
{
	padding-left: 88px;
	padding-top: 1px;
	padding-right: 88px;
}

#u5512
{
	z-index: 73;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5512_img
{
	padding-left: 122px;
	padding-right: 121px;
}

#u5580
{
	z-index: 75;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5580_img
{
	padding-left: 56px;
	padding-right: 56px;
}

#u5595
{
	z-index: 77;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5595_img
{
	padding-left: 138px;
	padding-right: 137px;
}

#u5609
{
	z-index: 79;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5609_img
{
	padding-left: 63px;
	padding-right: 63px;
}

#u5624
{
	z-index: 81;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5624_img
{
	padding-left: 104px;
	padding-right: 105px;
}

#u5639
{
	z-index: 83;
	width: 480px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u5639_img
{
	padding-left: 120px;
	padding-right: 119px;
}

#u3923
{
	position: absolute;
	width: 480px;
}

#u3923popup
{
	z-index: 85;
}

#u3928
{
	z-index: 86;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3984
{
	z-index: 88;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 70px;
}

#u4000
{
	z-index: 90;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u4015
{
	z-index: 92;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 210px;
}

#u4015_img
{
	margin-top: -18px;
	margin-bottom: -18px;
}

#u4060
{
	z-index: 94;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u4239
{
	z-index: 96;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u4044
{
	z-index: 98;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u203.MuseMenuActive,#u3928:hover,#u3984:hover,#u4000:hover,#u4015:hover,#u4060:hover,#u4239:hover,#u4044:hover
{
	margin: 0px -10000px 0px 0px;
}

#u4411
{
	z-index: 100;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
}

#u4411_img
{
	margin-left: -5px;
	margin-right: -5px;
}

#u4420
{
	z-index: 102;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 70px;
}

#u4420_img
{
	margin-top: -21px;
	margin-bottom: -21px;
}

#u4523
{
	z-index: 104;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 140px;
}

#u4532
{
	z-index: 106;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 210px;
}

#u4000_img,#u4239_img,#u4532_img
{
	margin-top: -25px;
	margin-bottom: -25px;
}

#u4626
{
	z-index: 108;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 280px;
}

#u4849
{
	z-index: 110;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 350px;
}

#u4849_img
{
	margin-top: -20px;
	margin-bottom: -20px;
}

#u4934
{
	z-index: 112;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 420px;
}

#u4411:hover,#u4420:hover,#u4523:hover,#u4532:hover,#u4626:hover,#u4849:hover,#u4934:hover
{
	margin: 55px -10000px 0px 0px;
}

#u3928_img,#u4934_img
{
	margin-top: -10px;
	margin-bottom: -10px;
}

#u5182
{
	z-index: 114;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u5182_img
{
	margin-top: -24px;
	margin-bottom: -24px;
}

#u5197
{
	z-index: 116;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 70px;
}

#u5197_img
{
	margin-top: -13px;
	margin-bottom: -13px;
}

#u5515
{
	z-index: 118;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 140px;
}

#u4626_img,#u5515_img
{
	margin-top: -23px;
	margin-bottom: -23px;
}

#u5583
{
	z-index: 120;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 210px;
}

#u3984_img,#u5583_img
{
	margin-top: -7px;
	margin-bottom: -7px;
}

#u5598
{
	z-index: 122;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 280px;
}

#u5598_img
{
	margin-top: -30px;
	margin-bottom: -30px;
}

#u5612
{
	z-index: 124;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 350px;
}

#u4044_img,#u5612_img
{
	margin-top: -8px;
	margin-bottom: -8px;
}

#u5627
{
	z-index: 126;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 420px;
}

#u5182:hover,#u5197:hover,#u5515:hover,#u5583:hover,#u5598:hover,#u5612:hover,#u5627:hover
{
	margin: 110px -10000px 0px 0px;
}

#u4060_img,#u5627_img
{
	margin-top: -17px;
	margin-bottom: -17px;
}

#u5642
{
	z-index: 128;
	width: 60px;
	height: 45px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
}

#u5642:hover
{
	margin: 165px -10000px 0px 0px;
}

#u3928_clip,#u3984_clip,#u4000_clip,#u4015_clip,#u4060_clip,#u4239_clip,#u4044_clip,#u4411_clip,#u4420_clip,#u4523_clip,#u4532_clip,#u4626_clip,#u4849_clip,#u4934_clip,#u5182_clip,#u5197_clip,#u5515_clip,#u5583_clip,#u5598_clip,#u5612_clip,#u5627_clip,#u5642_clip
{
	overflow: hidden;
	width: 60px;
	height: 45px;
}

#u4523_img,#u5642_img
{
	margin-top: -22px;
	margin-bottom: -22px;
}

#u3930
{
	position: absolute;
	width: 340px;
	top: 368px;
}

#u3930popup
{
	z-index: 130;
}

#u3931-4
{
	z-index: 131;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u3987-4
{
	z-index: 135;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4003-4
{
	z-index: 139;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4018-3
{
	z-index: 143;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4063-4
{
	z-index: 146;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4242-4
{
	z-index: 150;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4047-4
{
	z-index: 154;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4414-4
{
	z-index: 158;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4423-3
{
	z-index: 162;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4526-3
{
	z-index: 165;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4535-3
{
	z-index: 168;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4629-4
{
	z-index: 171;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4852-4
{
	z-index: 175;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u4937-4
{
	z-index: 179;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5185-4
{
	z-index: 183;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5200-3
{
	z-index: 187;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5518-4
{
	z-index: 190;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5586-3
{
	z-index: 194;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5601-4
{
	z-index: 197;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5615-4
{
	z-index: 201;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5630-4
{
	z-index: 205;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u5645-4
{
	z-index: 209;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u3893-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 368px;
	left: 350px;
}

#u3893-4popup
{
	z-index: 213;
}

#u3901-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 368px;
	left: 450px;
}

#u3901-4popup
{
	z-index: 217;
}

#u3934-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 368px;
	left: 380px;
}

#u3934-4popup
{
	z-index: 221;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u3968-7
{
	z-index: 225;
	width: 177px;
	min-height: 28px;
	color: #51837F;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 155px;
	left: 489px;
}

#u3968-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3968-3
{
	font-size: 10px;
	color: #464646;
	line-height: 12px;
}

#u3968-4
{
	line-height: 17px;
}

body
{
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

