.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 631px;
	background-image: none;
	border-style: none;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	margin-left: auto;
	margin-right: auto;
}

#menuu123
{
	z-index: 2;
	width: 127px;
	margin-right: -10000px;
	margin-top: 115px;
	left: 78px;
}

#u124
{
	width: 127px;
}

#u125
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 52px;
	margin-right: -10000px;
}

#u125:hover
{
	margin: 0px -10000px 0px 0px;
}

#u125:active
{
	margin: 0px -10000px 0px 0px;
}

#u166
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 52px;
	margin-right: -10000px;
}

#u125.MuseMenuActive,#u166:hover
{
	margin: 0px -10000px 0px 0px;
}

#u166:active
{
	margin: 0px -10000px 0px 0px;
}

#u175
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u166.MuseMenuActive,#u175:hover
{
	margin: 0px -10000px 0px 0px;
}

#u175:active
{
	margin: 0px -10000px 0px 0px;
}

#u180
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u175.MuseMenuActive,#u180:hover
{
	margin: 0px -10000px 0px 0px;
}

#u180:active
{
	margin: 0px -10000px 0px 0px;
}

#u132
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u180.MuseMenuActive,#u132:hover
{
	margin: 0px -10000px 0px 0px;
}

#u132:active
{
	margin: 0px -10000px 0px 0px;
}

#u165,#u172,#u179,#u131,#u200
{
	width: 127px;
	margin-top: 2px;
}

#u203
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u132.MuseMenuActive,#u203:hover
{
	margin: 0px -10000px 0px 0px;
}

#u203:active
{
	margin: 0px -10000px 0px 0px;
}

#u203.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u128-4,#u168-4,#u176-4,#u181-4,#u134-4,#u204-4
{
	width: 127px;
	min-height: 22px;
	margin-right: -10000px;
	top: 26px;
}

#u1858-3
{
	z-index: 39;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 300px;
}

#pu1859-88
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 368px;
}

#u1859-88
{
	z-index: 42;
	width: 367px;
	min-height: 145px;
	text-align: center;
	color: #464646;
	position: relative;
}

#u1859
{
	font-size: 25px;
	color: #51837F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 30px;
}

#u1859-2
{
	line-height: 17px;
}

#u1859-3,#u1859-17
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1859-6,#u1859-8,#u1859-10,#u1859-12,#u1859-14,#u1859-15,#u1859-19,#u1859-22,#u1859-24,#u1859-26,#u1859-28,#u1859-30,#u1859-31,#u1859-33,#u1859-35,#u1859-37,#u1859-39,#u1859-41,#u1859-42,#u1859-44,#u1859-46,#u1859-48,#u1859-49,#u1859-51
{
	font-size: 12px;
	line-height: 14px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
}

#u1859-56,#u1859-64,#u1859-79
{
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
}

#u1859-53,#u1859-55,#u1859-59,#u1859-61,#u1859-63,#u1859-66,#u1859-68,#u1859-70,#u1859-72,#u1859-74,#u1859-76,#u1859-78,#u1859-84
{
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1859-52,#u1859-54,#u1859-58,#u1859-60,#u1859-62,#u1859-65,#u1859-67,#u1859-69,#u1859-71,#u1859-73,#u1859-75,#u1859-77,#u1859-80,#u1859-81,#u1859-83
{
	font-size: 12px;
	line-height: 14px;
}

#u4771
{
	z-index: 130;
	width: 250px;
	margin-left: 59px;
	margin-top: 48px;
	position: relative;
}

body
{
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

