.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 631px;
	background-image: none;
	border-style: none;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	margin-left: auto;
	margin-right: auto;
}

#menuu123
{
	z-index: 2;
	width: 127px;
	margin-right: -10000px;
	margin-top: 115px;
	left: 78px;
}

#u124
{
	width: 127px;
}

#u125
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 52px;
	margin-right: -10000px;
}

#u125:hover
{
	margin: 0px -10000px 0px 0px;
}

#u125:active
{
	margin: 0px -10000px 0px 0px;
}

#u166
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 52px;
	margin-right: -10000px;
}

#u125.MuseMenuActive,#u166:hover
{
	margin: 0px -10000px 0px 0px;
}

#u166:active
{
	margin: 0px -10000px 0px 0px;
}

#u175
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u166.MuseMenuActive,#u175:hover
{
	margin: 0px -10000px 0px 0px;
}

#u175:active
{
	margin: 0px -10000px 0px 0px;
}

#u180
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u175.MuseMenuActive,#u180:hover
{
	margin: 0px -10000px 0px 0px;
}

#u180:active
{
	margin: 0px -10000px 0px 0px;
}

#u132
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u180.MuseMenuActive,#u132:hover
{
	margin: 0px -10000px 0px 0px;
}

#u132:active
{
	margin: 0px -10000px 0px 0px;
}

#u165,#u172,#u179,#u131,#u200
{
	width: 127px;
	margin-top: 2px;
}

#u203
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u132.MuseMenuActive,#u203:hover
{
	margin: 0px -10000px 0px 0px;
}

#u203:active
{
	margin: 0px -10000px 0px 0px;
}

#u203.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u128-4,#u168-4,#u176-4,#u181-4,#u134-4,#u204-4
{
	width: 127px;
	min-height: 22px;
	margin-right: -10000px;
	top: 26px;
}

#u1858-3
{
	z-index: 39;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 300px;
}

#pu1859-36
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	left: 360px;
}

#u1859-36
{
	z-index: 42;
	width: 367px;
	min-height: 145px;
	color: #464646;
	position: relative;
}

#u1859-3
{
	text-align: center;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1859
{
	font-size: 25px;
	color: #51837F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 30px;
}

#u1859-2
{
	line-height: 17px;
}

#u1859-12,#u1859-27
{
	text-align: center;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
}

#u1859-7,#u1859-9,#u1859-11,#u1859-14,#u1859-16,#u1859-18,#u1859-20,#u1859-22,#u1859-24,#u1859-26,#u1859-32
{
	text-align: center;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1859-6,#u1859-8,#u1859-10,#u1859-13,#u1859-15,#u1859-17,#u1859-19,#u1859-21,#u1859-23,#u1859-25,#u1859-28,#u1859-29,#u1859-31
{
	font-size: 12px;
	line-height: 14px;
}

#u1859-5,#u1859-33,#u1859-34
{
	text-align: center;
}

#u4354
{
	z-index: 78;
	width: 150px;
	margin-left: 109px;
	margin-top: 13px;
	position: relative;
}

body
{
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

