.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 631px;
	background-image: none;
	border-style: none;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 18px;
	margin-left: auto;
	margin-right: auto;
}

#menuu123
{
	z-index: 2;
	width: 127px;
	margin-right: -10000px;
	margin-top: 115px;
	left: 78px;
}

#u124
{
	width: 127px;
}

#u125
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 52px;
	margin-right: -10000px;
}

#u125:hover
{
	margin: 0px -10000px 0px 0px;
}

#u125:active
{
	margin: 0px -10000px 0px 0px;
}

#u166
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 52px;
	margin-right: -10000px;
}

#u125.MuseMenuActive,#u166:hover
{
	margin: 0px -10000px 0px 0px;
}

#u166:active
{
	margin: 0px -10000px 0px 0px;
}

#u175
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u166.MuseMenuActive,#u175:hover
{
	margin: 0px -10000px 0px 0px;
}

#u175:active
{
	margin: 0px -10000px 0px 0px;
}

#u180
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u175.MuseMenuActive,#u180:hover
{
	margin: 0px -10000px 0px 0px;
}

#u180:active
{
	margin: 0px -10000px 0px 0px;
}

#u132
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u180.MuseMenuActive,#u132:hover
{
	margin: 0px -10000px 0px 0px;
}

#u132:active
{
	margin: 0px -10000px 0px 0px;
}

#u165,#u172,#u179,#u131,#u200
{
	width: 127px;
	margin-top: 2px;
}

#u203
{
	width: 127px;
	min-height: 22px;
	padding-bottom: 53px;
	margin-right: -10000px;
}

#u132.MuseMenuActive,#u203:hover
{
	margin: 0px -10000px 0px 0px;
}

#u203:active
{
	margin: 0px -10000px 0px 0px;
}

#u203.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u128-4,#u168-4,#u176-4,#u181-4,#u134-4,#u204-4
{
	width: 127px;
	min-height: 22px;
	margin-right: -10000px;
	top: 26px;
}

#u1858-3
{
	z-index: 39;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 300px;
}

#ppu6510-17
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
	left: 305px;
}

#pu6510-17
{
	width: 0.01px;
	position: relative;
}

#u6510-17
{
	z-index: 49;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u6513
{
	z-index: 66;
	width: 192px;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 103px;
}

#u4771
{
	z-index: 42;
	width: 250px;
	margin-left: 121px;
	margin-top: 956px;
	position: relative;
}

#u6509-5
{
	z-index: 44;
	width: 103px;
	color: #369797;
	font-size: 14px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 753px;
}

body
{
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

